.main {
	&-content {
		background: #edf3f9;
		height: $max-content-height;
		padding: 15px 0;
	}
}

@media screen and (max-width: 767px) {
	.main {
		&-content {
			height: $max-content-mobile-height;
			padding-bottom: 95px;
		}
	}
}
