.chatbox {
	background: $white;
	width: 100%;
	// height: 100%;
	position: relative;
	overflow-y: auto;
	overflow: scroll;
	// @include flex(column, flex-start, flex-end);
	display: table-row;
	&-wrapper {
		// @include flex(column, flex-start, flex-end);
		// overflow-y: auto;
		display: table;
	}
	&-content {
		padding: 8px 18px;
		padding-bottom: 24px;
	}
}
