.contact {
	background: $white;
	&-wrapper {
		@include flex(row, center);
		padding: 8px 18px;
	}
	&-image {
		margin-right: 12px;
		overflow: hidden;
		border-radius: 50%;
	}
	&-back {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.contact {
		&-back {
			display: block;
			margin-right: 10px;
			&__btn {
				display: flex;
			}
		}
	}
}
