.logo {
	display: flex;
	align-items: center;
	& div[data-type='svg'] {
		height: 40px;
		max-width: 40px;
		margin-right: 10px;
		& svg {
			height: inherit;
			max-width: inherit;
		}
	}
	& span {
		@include font(2.2rem, calc(28 / 22));
		color: $white;
		font-weight: 500;
	}
}
