.messenger {
	& .container {
		height: 100%;
	}
	&-wrapper {
		overflow: hidden;
		outline: 1px solid rgba($black, 0.15);
		border-radius: 6px;
		height: 100%;
		background: rgba($black, 0.15);
		display: grid;
		grid-template-columns: 280px calc(100% - 281px);
		grid-gap: 1px;
	}
}
