.message {
	&-input {
		width: 100%;
		background: linear-gradient(rgba($gray-500, 0.2), rgba($gray-500, 0.2)), $white;
		margin-top: 1px;
		padding: 8px 16px;
		flex-shrink: 0;
		&-wrapper {
			@include flex(row, center);
			height: 100%;
		}
		&__send {
			width: 40px;
			height: 40px;
			display: grid;
			place-items: center;
			transition: background 0.25s;
			border-radius: 50%;
			flex-shrink: 0;
			& svg {
				position: relative;
				right: 2px;
				top: 2px;
				transition: fill 0.25s;
			}
			&:hover {
				background: rgba($gray-560, 0.5);
				& svg g {
					fill: $orange-400;
				}
			}
			&:active {
				opacity: 0.8;
			}
		}
		&__input {
			width: 100%;
			height: 100%;
			margin: 0 10px;
			height: 100%;
			padding: 4px 0;
			display: grid;
			align-items: center;
			& div[data-role='input'] {
				width: 100%;
				padding: 8px 14px;
				border: 1px solid rgba($gray-600, 0.6);
				border-radius: 6px;
				background: $white;
				outline: 0;
				resize: none;
				max-height: 200px;
				overflow-y: auto;
				overflow-x: hidden;
				word-wrap: break-word;
				box-sizing: border-box;
				&:empty:not(:focus):before {
					content: attr(data-text);
					color: $gray-800;
					cursor: text;
				}
			}
		}
	}
	&-files {
		@include flex();
		&__btn {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			display: grid;
			place-items: center;
			padding: 6px;
			position: relative;
			transition: background 0.25s;
			& svg {
				position: relative;
				left: 2px;
				top: 2px;
				transition: fill 0.25s;
			}
			&:hover {
				background: rgba($gray-560, 0.5);
				& svg g {
					fill: $orange-400;
				}
			}
			&:active {
				opacity: 0.8;
			}
		}
	}
}
