// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Roboto', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$gray-600: #ccc;
$gray-560: #e6e6e6;
$gray-500: #e5e5e5;
$gray-700: #b2b2b2;
$gray-800: #b3b3b3;
$blue-100: #1e90ff;
$blue-400: #4284f3;
$red-400: #d40e36;
$orange-400: #f97456;

$black: #000;
$black-bg: #020f1e;

// Number variables
$max-header-height: 80px;
$max-content-height: calc(100vh - 80px);

$max-header-mobile-height: 72px;
$max-content-mobile-height: calc(100vh - 72px);
